.form {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  min-width: 100px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  z-index: 2;
}
.errorModal {
  width: 200px;
  padding: 10px;
  padding-top: 30px;
  border-radius: 6px;
  position: absolute;
  z-index: 4;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fff;
}
